.Box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 350px;
  position: relative;
  bottom: 300px;
gap:30px;
 
}
.iteminfo {
border: 3px solid black;
border: 1px solid black;
height: 270px;
}
a {
  text-decoration: none;
  color: black;
}
.loaderposition {
  position: relative;
  left: 200%;
}

.infoline {
  text-decoration: underline;
}
@media only screen and (max-width: 900px) {
  .Box {
    display: grid;
    grid-template-columns: auto auto ;
    margin:10px;
    gap:20px;
  }
  .loaderposition {
    position: relative;
    left: 90%;
  }
}